aniso8601==3.0.0
certifi==2022.12.7
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
flask-restplus==0.10.1
itsdangerous==0.24
jsonschema==2.6.0
MarkupSafe==1.0
mypy==0.580
python-dateutil==2.7.2
pytz==2018.3
six==1.11.0
typed-ast==1.1.0
tzlocal==1.5.1
urllib3==1.22
Werkzeug==0.14.1
